@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg {
    background-image: url('https://res.cloudinary.com/dp0ed3fv9/image/upload/v1631458769/Btc_o98q68.jpg');
    background-size: cover;
    width: 100%;
    height: 60vh;
}

.imge {
    height: 60vh;
    width: 100%;
}

.cm {
    color: #959ead;
    margin-left: 400px;
}

.navbar-image {
    width: 60px;
    height: 60px;
}

#navbar-text {
    color: #425664;
}

.wid {
    width: 40%;
}

.wid_1 {
    width: 600%;
}

.car {
    height: 67vh;
    width: 38%;
}

.car_image {
    height: 70vh;
}

.l_card {
    border-radius: 10px;
    background-color: #D48166;
    margin: 8px;
    color: #1c1503;
    font-family: Bree Serif;
    width: 100%
}

.center_card_color {
    background-color: #C6AD8F;
}

.alt_card {
    width: 200px;
}

.cul {
    background-color: #E6E2DD;
}

.col_text {
    color: #fff9eb;
}

.text {
    color: #e1e5f5;
    font-family: Bree Serif;
    width: 280px;
    padding: 10px;
    background-color: #15959e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px;
}

.tcard {
    margin-left: 350px;
}

.head_col {
    color: #f2f2f2;
    font-size: 30px;
}

p {
    font-size: 13px;
}

.l_t {
    text-align: center;
}

.l_bg {
    background-color: #373A36;
    background-size: cover;
}

.sze {
    width: 100%;
    padding: 13px;
}

.v_mar {
    margin: 5px;
}

.txt_al {
    text-align: center;
}

.sze1 {
    width: 400px;
    padding: 13px;
}

.height {
    width: 100%;
}

.side_col {
    width: 150px;
    margin-left: 90px;
}

.img_crd {
    padding: 5px;
    width: 100%;
}

.footer-bg-container {
    background-color: #19232d;
}

.logo-image {
    width: 63px;
    height: 66px;
}

.icon {
    background-color: #202b36;
    color: #5a7184;
    font-size: 18px;
    width: 40px;
    height: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 35px;
    padding-right: 30px;
    border-radius: 40px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer-paragraph {
    color: #5a7184;
    font-family: Roboto;
    font-size: 16px;
}

.footer-heading {
    color: #5a7184;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}

.hrule {
    background-color: #5a7184;
}

.footer-paragraph-2 {
    color: #959ead;
    font-family: Roboto;
    font-size: 16px;
    text-align: center;

}
